.wrapper{
    background-color: #403D50;
    width: 100%;
    height: 98vh;
    border-radius: 33px;
    position: relative;
}
.main{
    background-color: #1F1D2B;
    position: relative;
    height: 88%;
    width: 93%;
    left: 55px;
    top: 50px;
    border-radius: 30px;
    display: flex;
}
.left{
    width:20%;
    height: 86vh;
    border: radius left 20px; 
}
.titile{
    padding: 20px 20px;
    font-size: larger;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.right{
    width: 80%;
    height: 86vh;
    border-radius: 30px;
}  
header{
    height: 8vh;
    background-color: #1F1D2B;
    border-radius: 30px;
    display: flex;
}
header input{
  height: 20px;
  width: 60vh;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #393945;
  font-size: 15px;
}
.headright{
    
}
.headerpic{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;

}

